################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PortfollioAdminPortal
/PortfollioAdminPortal/bin/Debug/net8.0-windows
/PortfollioAdminPortal/obj
/.vs/*
